@font-face{
    font-family: 'Lulo Clean WO1 One Bold';
    src: url("/public/lulo_clean_bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

h1 {
    font-family: 'Lulo Clean WO1 One Bold';
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    padding: 0;

}
.text-blob {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid;
    margin: auto; /* Center the text horizontally and vertically */
    padding: 20px; /* Add some padding inside the box */
    color: black; /* Set the text color to black */
    text-align: center; /* Center the text within its container */
    width: 50%; /* Set a width for the text container */
    height: 50%; /* Set a height for the text container */
    display: flex; /* Use flexbox to center the text vertically */
    align-items: center; /* Center the text vertically */
    justify-content: center; /* Center the text horizontally */
    position: relative; /* Set the position to relative */
    background: transparent; /* Remove the fill */
    border-color: linear-gradient(90deg, purple, white, purple);
}

.dev-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding inside the container */
    border-radius: 20px; /* Add rounded corners to the container */
    /* background-color: #100227; Add a background color to the container */
    width:80%;

}



.col-container {
    margin-left: 20px;
}

.heading{
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.generate-btn {
    background-color: var(--main-button);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: bolder;
    text-transform: capitalize;
    margin: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.copy{
    float: right;
    margin: 10px;
    margin-right: 27px;
    margin-left: 0;
    padding: 10px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--input-bg);
    color: white;
    border: none;
    
}
.docs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px; /* This will create a squircle shape */
    background-color: var(--main-button);
    padding: 10px;
    margin-top: 20px; /* Add some space at the top */
    margin-right: 20px; /* Add some space on the right */
}

.docs-icon {
    margin-right: 10px;
}

.docs-container img{

    width: 50px;
    height: 50px;

}


.copy img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .heading {
      font-size: 24px; /* Adjust the font size for smaller screens */
    }
  
    .text-blob {
      font-size: 16px; /* Adjust the font size for smaller screens */
      padding: 10px; /* Adjust the padding for smaller screens */
    }
  
    .dev-container {
      flex-direction: column; /* Stack the children vertically on smaller screens */
    }
  
    .api-token {
      width: 100%; /* Make the API token input full width on smaller screens */
    }
  
    .docs-container {
      width: 100%; /* Make the docs container full width on smaller screens */
    }
  }